/* Style the scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* Height for horizontal scrollbar */
    width: 6px; /* Width for vertical scrollbar if needed */
  }
  
  /* Rounded scrollbar with gray color */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #B0B0B0; /* Gray color */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Remove scrollbar arrows in WebKit-based browsers */
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none; /* Hides the arrows */
  }
  
/* styles.css or any relevant CSS file */

.cardmenu {
  @apply bg-[rgba(0,40,50,1)] bg-gradient-to-tr from-[rgba(36,40,50,1)] to-[rgba(37,28,40,1)] w-[50%] rounded-[10px] p-[15px_0] flex flex-col gap-[10px] ;
}

.cardmenu .separator {
  @apply border-t-[1.5px] border-[#42434a];
}

.cardmenu .list {
  @apply list-none flex flex-col gap-[8px] px-[10px];
}

.cardmenu .list .element {
  @apply flex items-center text-[#7e8590] gap-[10px] transition-all duration-300 ease-out py-[4px] px-[7px] rounded-[6px] cursor-pointer;
}

.cardmenu .list .element svg {
  @apply w-[19px] h-[19px] transition-all duration-300 ease-out;
}

.cardmenu .list .element .label {
  @apply font-medium;
}

.cardmenu .list .element:hover {
  @apply bg-[#5353ff] text-white transform translate-x-[1px] translate-y-[-1px];
}

.cardmenu .list .delete:hover {
  @apply bg-[#8e2a2a];
}

.cardmenu .list .element:active {
  @apply scale-95;
}

.cardmenu .list:not(:last-child) .element:hover svg {
  @apply stroke-white;
}

.cardmenu .list:last-child svg {
  @apply stroke-[#bd89ff];
}

.cardmenu .list:last-child .element {
  @apply text-[#bd89ff];
}

.cardmenu .list:last-child .element:hover {
  @apply bg-[rgba(56,45,71,0.836)];
}
